﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Freshchoice provides all products that saitsfy's all needs of every customer. We also extend our services by doing home delivery and pick up services.</p>
