﻿@model Wallnut_SuperMarket.Models.Cart

@{
    ViewBag.Title = "AddCart";
}

@{
    var data = (String)ViewData["Status"];
}

<h2>AddCart</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    //addCart form 
    <div class="form-horizontal">
        <h4>Cart</h4>
        <hr />

        <div class="form-group">
            <div class="col-md-10">
                <h4 class="text-danger">@data</h4>
            </div>
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                <input class="form-control" type="hidden" id="id" name="id" value="0" />
                @Html.ValidationMessageFor(model => model.id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @{
                    var id = (int)ViewData["id"];
                }
                <input class="form-control" type="hidden" id="itemId" name="itemId" value="@id" />
                @Html.ValidationMessageFor(model => model.itemId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                @{
                    var counterList = (List<Wallnut_SuperMarket.Models.Counter>)ViewData["counterList"];
                    var categoryList = (List<Wallnut_SuperMarket.Models.Category>)ViewData["categoryList"];
                    var itemList = (List<Wallnut_SuperMarket.Models.Item>)ViewData["itemList"];
                }
                <h3><b>Item Details</b></h3>
                @{
                    foreach (var item in itemList)
                    {
                        if (item.id == id)
                        {
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="@Url.Content(item.picture)" alt="@item.name">
                                <div class="card-body text-center">
                                    <h5>Name: @item.name</h5>
                                    <h5>Brand: @item.brand</h5>
                                    @{
                                        foreach (var counter in counterList)
                                        {
                                            if (counter.id == item.counterId)
                                            {
                                                <h5>Counter: @counter.counter1</h5>
                                            }
                                        }
                                    }
                                    @{
                                        foreach (var category in categoryList)
                                        {
                                            if (category.id == item.categoryId)
                                            {
                                                <h5>Category: @category.name</h5>
                                            }
                                        }
                                    }
                                    <h5>Price: @item.rating</h5>
                                </div>
                            </div>
                        }
                    }
                }

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.qty, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.qty, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.qty, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add to cart" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
