﻿@model Wallnut_SuperMarket.Models.User
@{
    ViewBag.Title = "Home Page";
}

<!-- Start Slider -->
<div id="slides-shop" class="cover-slides">
    <ul class="slides-container">
        <li class="text-center">
            <img src="@Url.Content("Content/images/banner-01.jpg")" />
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> FreshChoice-SuperMarket!!!</strong></h1>
                        <p class="m-b-40">Order and buy yor products from us!!!<br> We provide the best service!!!</p>
                        <p><a class="btn hvr-hover" href="#">Shop New</a></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="@Url.Content("Content/images/banner-02.jpg")" />
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Freshchoice-SuperMarket!!!</strong></h1>
                        <p class="m-b-40">Order and buy yor products from us!!!<br> We provide the best service!!!</p>
                        <p><a class="btn hvr-hover" href="#">Shop New</a></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="@Url.Content("Content/images/banner-03.jpg")" />
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> FreshChoice-SuperMarket!!!</strong></h1>
                        <p class="m-b-40">Order and buy yor products from us!!!<br> We provide the best service!!!</p>
                        <p><a class="btn hvr-hover" href="#">Shop New</a></p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>
<!-- End Slider -->

<br />

<!-- Start Products  -->
<div class="products-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Products</h1>
                    <p>We have fresh and tastiest products here!!!</p>
                </div>
            </div>
        </div>
        <div class="row special-list">

            @{
                if (Session["loggedIn"] == null)
                {
                    var counterList = (List<Wallnut_SuperMarket.Models.Counter>)ViewData["counterList"];
                    var categoryList = (List<Wallnut_SuperMarket.Models.Category>)ViewData["categoryList"];
                    var itemList = (List<Wallnut_SuperMarket.Models.Item>)ViewData["itemList"];

                    foreach (var item in itemList)
                    {
                        <div class="col-lg-3 col-md-6 special-grid best-seller">
                            <div class="products-single fix">
                                <div class="box-img-hover">
                                    <div class="type-lb">
                                        <p class="sale">Sale</p>
                                    </div>
                                    <img src="@Url.Content(item.picture)" class="img-fluid">
                                    <div class="mask-icon">
                                        @Html.ActionLink("Login to shop", "SignIn", new { id = item.id }, new { @class = "cart" })
                                    </div>
                                </div>
                                <div class="why-text">
                                    <h4><b>Name</b> @item.name</h4>
                                    <h5><b>Brand</b> @item.brand</h5>
                                    @{
                                        foreach (var counter in counterList)
                                        {
                                            if (counter.id == item.counterId)
                                            {
                                                <h5><b>Counter</b> @counter.counter1</h5>
                                            }
                                        }
                                    }
                                    @{
                                        foreach (var category in categoryList)
                                        {
                                            if (category.id == item.categoryId)
                                            {
                                                <h5><b>Category</b> @category.name</h5>
                                            }
                                        }
                                    }
                                    <h5><b>Price</b> @item.rating</h5>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    var loggedIn = (Boolean)Session["loggedIn"];
                    if (loggedIn == true)
                    {
                        var counterList = (List<Wallnut_SuperMarket.Models.Counter>)ViewData["counterList"];
                        var categoryList = (List<Wallnut_SuperMarket.Models.Category>)ViewData["categoryList"];
                        var itemList = (List<Wallnut_SuperMarket.Models.Item>)ViewData["itemList"];

                        foreach (var item in itemList)
                        {
                            <div class="col-lg-3 col-md-6 special-grid best-seller">
                                <div class="products-single fix">
                                    <div class="box-img-hover">
                                        <div class="type-lb">
                                            <p class="sale">Sale</p>
                                        </div>
                                        <img src="@Url.Content(item.picture)" class="img-fluid">
                                        <div class="mask-icon">
                                            @Html.ActionLink("Add to Cart", "AddCart", new { id = item.id }, new { @class = "cart" })
                                        </div>
                                    </div>
                                    <div class="why-text">
                                        <h4><b>Name</b> @item.name</h4>
                                        <h5><b>Brand</b> @item.brand</h5>
                                        @{
                                            foreach (var counter in counterList)
                                            {
                                                if (counter.id == item.counterId)
                                                {
                                                    <h5><b>Counter</b> @counter.counter1</h5>
                                                }
                                            }
                                        }
                                        @{
                                            foreach (var category in categoryList)
                                            {
                                                if (category.id == item.categoryId)
                                                {
                                                    <h5><b>Category</b> @category.name</h5>
                                                }
                                            }
                                        }
                                        <h5><b>Price</b> @item.rating</h5>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        var counterList = (List<Wallnut_SuperMarket.Models.Counter>)ViewData["counterList"];
                        var categoryList = (List<Wallnut_SuperMarket.Models.Category>)ViewData["categoryList"];
                        var itemList = (List<Wallnut_SuperMarket.Models.Item>)ViewData["itemList"];

                        foreach (var item in itemList)
                        {
                            <div class="col-lg-3 col-md-6 special-grid best-seller">
                                <div class="products-single fix">
                                    <div class="box-img-hover">
                                        <div class="type-lb">
                                            <p class="sale">Sale</p>
                                        </div>
                                        <img src="@Url.Content(item.picture)" class="img-fluid">
                                        <div class="mask-icon">
                                            @Html.ActionLink("Login to shop", "SignIn", new { id = item.id }, new { @class = "cart" })
                                        </div>
                                    </div>
                                    <div class="why-text">
                                        <h4><b>Name</b> @item.name</h4>
                                        <h5><b>Brand</b> @item.brand</h5>
                                        @{
                                            foreach (var counter in counterList)
                                            {
                                                if (counter.id == item.counterId)
                                                {
                                                    <h5><b>Counter</b> @counter.counter1</h5>
                                                }
                                            }
                                        }
                                        @{
                                            foreach (var category in categoryList)
                                            {
                                                if (category.id == item.categoryId)
                                                {
                                                    <h5><b>Category</b> @category.name</h5>
                                                }
                                            }
                                        }
                                        <h5><b>Price</b> @item.rating</h5>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
            }
        </div>
    </div>
</div>
</div>
<!-- End Products  -->