﻿@model Wallnut_SuperMarket.Models.OrderDeliveryPerson

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrderDeliveryPerson</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.bill)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bill)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deliveryPersonId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deliveryPersonId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
