﻿
@{
    ViewBag.Title = "Checkout";
    string status = (string) ViewData["status"];
}

<h2>Checkout</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Delivery form</h4>
        <hr />
        <h4 class="text-danger">@status</h4>

        @{
            float total = (float) ViewData["payment"];
            float wallet = (float)ViewData["wallet"];
        }
        <h5 class="text-success">Total Bill</h5>
        <input class="form-control" type="text" id="totaly" name="totaly" value="@total" readonly/>
        <br/>

        <div class="form-group">
            <div class="col-md-2">
                <label class="control-label">Delivery method</label>
            </div>
            <div class="col-md-10">
                <select class="form-control" id="pickStatus" name="pickStatus" onchange="viewInputs(this.value)">
                    <option value="HOME_DELIVERY">HOME_DELIVERY</option>
                    <option value="PICK_UP">PICK_UP</option>
                </select>
            </div>
        </div>

        <div id="hidden">
            <div class="form-group">
                <div class="col-md-2">
                    <label class="control-label">Address</label>
                </div>
                <div class="col-md-10">
                    <input class="form-control" type="text" id="address" name="address" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">
                    <label class="control-label">Distance</label>
                </div>
                <div class="col-md-5">
                    <input class="form-control" type="number" id="distance" name="distance" value="0" onkeyup="changeTotal(this.value)" />
                </div>
                <div class="col-md-5">
                    <h5 class="text-danger">Maximum distance 4 KM</h5>
                </div>
            </div>
        </div>

        <div hidden id="hidden1">
            <div class="form-group">
                <div class="col-md-2">
                </div>
                <div class="col-md-10">
                    <input class="form-control" type="hidden" id="address" name="address" value="address" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">
                </div>
                <div class="col-md-10">
                    <input class="form-control" type="hidden" id="distance" name="distance" value="1" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <label class="control-label">Payment method</label>
                <select class="form-control" id="payMethod" name="payMethod" onchange="paymentMethod(this.value)">
                    <option value="CARD">CARD</option>
                    <option value="WALLET">WALLET</option>
                </select>
            </div>
            <div id="card">
                <input class="form-control" type="hidden" name="walletCash" value="@wallet" readonly />
                <input class="form-control" type="hidden" name="message" value="" readonly />
                <div class="col-lg-12">
                    <label class="control-label">Card number</label>
                    <input class="form-control" type="text" id="cardNum" name="cardNum" />
                </div>
                <div class="col-lg-12">
                    <label class="control-label">CVV number</label>
                    <input class="form-control" type="text" id="cvv" name="cvv" />
                </div>
            </div>
            <div id="wallet" hidden>
                <input class="form-control" type="hidden" name="cardNum" />
                <input class="form-control" type="hidden" name="cvv" />
                <div class="col-md-4">
                    <label class="control-label">Current wallet cash</label>
                    <input class="form-control" type="text" id="walletCash" name="walletCash" value="@wallet" readonly />
                </div>
                <div class="col-md-4">
                    <label class="control-label">Message</label>
                    <input class="form-control" type="text" id="message" name="message" value="" readonly />
                </div>
            </div>
        </div>

        <br/>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Checkout" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    @{
        float tot = (float) ViewData["payment"];
     }

    function paymentMethod(value) {
        if (value == "CARD") {
            document.getElementById("card").style.display = "block";
            document.getElementById("wallet").style.display = "none";
        }
        else {
            if (document.getElementById("pickStatus").value == "HOME_DELIVERY") {
                var address = document.getElementById("address").value;
                var distance = parseInt(document.getElementById("distance").value);

                if (address == "" || distance == 0) {
                    alert("Invalid address or distance...");
                    document.getElementById("card").style.display = "none";
                    document.getElementById("wallet").style.display = "block";

                    document.getElementById("message").value = "Option invalid, due to popup error";
                }

                document.getElementById("wallet").style.display = "block";
                document.getElementById("card").style.display = "none";

                var wallet = parseFloat(document.getElementById("walletCash").value);
                if (wallet > @tot) {
                    document.getElementById("message").value = "Bill will be reduced from your wallet";
                }
                else {
                    alert("Your wallet price is insufficient! Wallet Price: " + wallet);
                    document.getElementById("card").style.display = "none";
                    document.getElementById("wallet").style.display = "block";
                    document.getElementById("message").value = "Option invalid, due to popup error";
                }
            }
            else {
                document.getElementById("wallet").style.display = "block";
                document.getElementById("card").style.display = "none";

                var wallet = parseFloat(document.getElementById("walletCash").value);
                if (wallet > @tot) {
                    document.getElementById("message").value = "Bill will be reduced from your wallet";
                }
                else {
                    alert("Your wallet price is insufficient! Wallet Price: " + wallet);
                    document.getElementById("card").style.display = "none";
                    document.getElementById("wallet").style.display = "block";
                    document.getElementById("message").value = "Option invalid, due to popup error";
                }
            }
        }
    }

    function changeTotal(value) {
        if (value > 4) {
            document.getElementById("distance").value = 0;
            return false;
        }

        var total = @tot + (parseFloat(value) * 50);
        document.getElementById("totaly").value = total;
    }

    function viewInputs(value)
    {
        if (value == "HOME_DELIVERY") {
            document.getElementById("hidden").style.display = "block";
            document.getElementById("hidden1").style.display = "none";

            var total = @tot + (parseFloat(document.getElementById("distance").value) * 50);
            document.getElementById("totaly").value = total;
        }
        else
        {
            document.getElementById("hidden").style.display = "none";
            document.getElementById("hidden1").style.display = "block";

            var total = @tot;
            document.getElementById("totaly").value = total;
        }
    }
</script>