﻿
@{
    ViewBag.Title = "receipt";

    string state = (string)ViewData["state"];

    <h2>Receipt</h2>
    <br />

    if (state.Equals("OK"))
    {
        Wallnut_SuperMarket.Models.Order order = (Wallnut_SuperMarket.Models.Order)ViewData["order"];

        if (order.pickupStatus.Equals("PICK_UP"))
        {
            Wallnut_SuperMarket.Models.Bill bill = (Wallnut_SuperMarket.Models.Bill)ViewData["bill"];
            DateTime expectedTime = (DateTime)ViewData["expectedTime"];
            float totalOrder = (float)ViewData["totalOrder"];
            float deliveryCharge = (float)ViewData["deliveryCharge"];

            <div class="container">
                <h3 class="text-info"><b>--- Your Receipt ---</b></h3>
                <hr />
                <h5><b>Order Id:</b> @order.id</h5>
                <h5><b>Bill Id:</b> @bill.id</h5>
                <div class="row">
                    <div class="col-md-3">
                        <h5><b>Charge Details</b></h5>
                    </div>
                    <div class="col-md-3">
                        <h5><b>Total On Items:</b> @totalOrder</h5>
                    </div>
                    <div class="col-md-3">
                        <h5><b>Delivery Charges:</b> @deliveryCharge</h5>
                    </div>
                </div>
                <h5><b>Expected time to collect:</b> @expectedTime</h5>
                <h5>Total Cost: @bill.payment</h5>
                <h5>Pick Up Status: @order.pickupStatus</h5>
                <h5 class="text-danger">Order Status: @order.readyStatus</h5>
            </div>
        }
        else
        {
            Wallnut_SuperMarket.Models.Bill bill = (Wallnut_SuperMarket.Models.Bill)ViewData["bill"];
            Wallnut_SuperMarket.Models.User deliveryPerson = (Wallnut_SuperMarket.Models.User)ViewData["deliverPerson"];
            DateTime expectedTime = (DateTime)ViewData["expectedTime"];
            float totalOrder = (float)ViewData["totalOrder"];
            float deliveryCharge = (float)ViewData["deliveryCharge"];

            <div class="container">
                <h3 class="text-info"><b>--- Your Receipt ---</b></h3>
                <hr />
                <h5><b>Order Id:</b> @order.id</h5>
                <h5><b>Bill Id:</b> @bill.id</h5>
                <div class="row">
                    <div class="col-md-3">
                        <h5><b>Delivery Person Details</b></h5>
                    </div>
                    <div class="col-md-3">
                        <h5><b>Delivery Person:</b> @deliveryPerson.username</h5>
                    </div>
                    <div class="col-md-3">
                        <h5><b>Delivery Phone Number:</b> @deliveryPerson.phone</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <h5><b>Charge Details</b></h5>
                    </div>
                    <div class="col-md-3">
                        <h5><b>Total On Items:</b> @totalOrder</h5>
                    </div>
                    <div class="col-md-3">
                        <h5><b>Delivery Charges:</b> @deliveryCharge</h5>
                    </div>
                </div>
                <h5><b>Expected time to collect:</b> @expectedTime</h5>
                <h5>Total Cost: @bill.payment</h5>
                <h5>Pick Up Status: @order.pickupStatus</h5>
                <h5 class="text-danger">Order Status: @order.readyStatus</h5>
            </div>
        }
    }
    else
    {
        <h3 class="text-danger">Something went wrong!!!</h3>
    }
}