﻿@model IEnumerable<Wallnut_SuperMarket.Models.Cart>

@{
    ViewBag.Title = "ViewCart";
}

<h2>View</h2>

<table class="table">
    @{
        if (Session["cartList"] != null)
        {
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.itemId)
                </th>
                <th>
                    name
                </th>
                <th>
                    counter
                </th>
                <th>
                    category
                </th>
                <th>
                    brand
                </th>
                <th>
                    unit price
                </th>
                <th>
                    picture
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.qty)
                </th>
                <th></th>
            </tr>

            float total = 0;

            List<Wallnut_SuperMarket.Models.Cart> cartList = (List<Wallnut_SuperMarket.Models.Cart>)Session["cartList"];
            List<Wallnut_SuperMarket.Models.Item> itemList = (List<Wallnut_SuperMarket.Models.Item>)ViewData["itemList"];
            List<Wallnut_SuperMarket.Models.Counter> counterList = (List<Wallnut_SuperMarket.Models.Counter>)ViewData["counterList"];
            List<Wallnut_SuperMarket.Models.Category> categoryList = (List<Wallnut_SuperMarket.Models.Category>)ViewData["categoryList"];

            foreach (var item in cartList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.itemId)
                    </td>
                    @{
                        foreach (var itemObj in itemList)
                        {
                            if (itemObj.id == item.itemId)
                            {
                                float price = (float)item.qty * (float)itemObj.rating;
                                total = total + price;

                                <td>@itemObj.name</td>
                                foreach (var counterObj in counterList)
                                {
                                    if (counterObj.id == itemObj.counterId)
                                    {
                                        <td>@counterObj.counter1</td>
                                    }
                                }
                                foreach (var categoryObj in categoryList)
                                {
                                    if (categoryObj.id == itemObj.categoryId)
                                    {
                                        <td>@categoryObj.name</td>
                                    }
                                }
                                <td>@itemObj.brand</td>
                                <td>@itemObj.rating</td>
                                <td><img src="@Url.Content(itemObj.picture)" width="150" height="150" /></td>
                            }
                        }
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.qty)
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "DeleteCart", new { id = item.id })
                    </td>
                </tr>
            }
            <br />
            <h4>Total: @total</h4>
            @Html.ActionLink("Checkout", "Checkout")
        }
        else
        {
            <h3 class="text-danger">Cart is empty!!!</h3>
        }
    }
</table>
