﻿@model Wallnut_SuperMarket.Models.OrderItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrderItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.orderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.orderId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.itemId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.itemId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.preparedStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preparedStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
