﻿
@{
    ViewBag.Title = "PrepareItems";
}

<h2>Prepare Items</h2>
@{
    List<Wallnut_SuperMarket.Models.OrderItem> orderItemList = (List<Wallnut_SuperMarket.Models.OrderItem>)ViewData["orderItemList"];
    List<Wallnut_SuperMarket.Models.Item> itemList = (List<Wallnut_SuperMarket.Models.Item>)ViewData["itemList"];
    List<Wallnut_SuperMarket.Models.Order> orderList = (List<Wallnut_SuperMarket.Models.Order>)ViewData["orderList"];

    <table class="table">
        <tr>
            <th>
                Order Id
            </th>
            <th>
                Item
            </th>
            <th>
                Image
            </th>
            <th>
                Quantity
            </th>
            <th>
                Total
            </th>
            <th>
                Prepared Status
            </th>
            <th>
                Deadline
            </th>
            <th></th>
        </tr>
        @{ 
            foreach (var orderItem in orderItemList)
            {
                <tr>
                    <td>@orderItem.orderId</td>
                    @{
                        foreach (var item in itemList)
                        {
                            if (orderItem.itemId == item.id)
                            {
                                <td>@item.name</td>
                                <td><img src="@Url.Content(item.picture)" width="150" height="150" /></td>
                            }
                        }
                    }
                    <td>@orderItem.qty</td>
                    <td>@orderItem.total</td>
                    @{
                        if (orderItem.preparedStatus.Equals("READY"))
                        {
                            <td class="text-success">@orderItem.preparedStatus</td>
                            foreach (var orderObj in orderList)
                            {
                                if (orderObj.id == orderItem.orderId)
                                {
                                    <td>@orderObj.date_time</td>
                                }
                            }
                            <td>---</td>
                        }
                        else
                        {
                            <td class="text-danger">@orderItem.preparedStatus</td>
                            foreach (var orderObj in orderList)
                            {
                                if (orderObj.id == orderItem.orderId)
                                {
                                    <td>@orderObj.date_time</td>
                                }
                            }
                            <td> @Html.ActionLink("Mark Prepared", "MarkPrepared", new { id = orderItem.id })</td>
                        }
                    }
                </tr>
            }
        }
    </table>
}
