﻿@model Wallnut_SuperMarket.Models.Item

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.counterId)
        </dt>

        <dd>
            @{
                var counterList = (List<Wallnut_SuperMarket.Models.Counter>)ViewData["counterList"];
                foreach (var counter in counterList)
                {
                    if (counter.id == Model.counterId)
                    {
                        <p>@counter.counter1</p>
                    }
                }
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.categoryId)
        </dt>

        <dd>
            @{
                var categoryList = (List<Wallnut_SuperMarket.Models.Category>)ViewData["categoryList"];
                foreach (var category in categoryList)
                {
                    if (category.id == Model.categoryId)
                    {
                        <p>@category.name</p>
                    }
                }
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.picture)
        </dt>

        <dd>
            <img src="@Url.Content(Model.picture)" width="250" height="250" />
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
