﻿@model Wallnut_SuperMarket.Models.Item

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.counterId)
        </dt>

        <dd>
            @{
                var counterList = (List<Wallnut_SuperMarket.Models.Counter>)ViewData["counterList"];
                foreach (var counter in counterList)
                {
                    if (counter.id == Model.counterId)
                    {
                        <p>@counter.counter1</p>
                    }
                }
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.categoryId)
        </dt>

        <dd>
            @{
                var categoryList = (List<Wallnut_SuperMarket.Models.Category>)ViewData["categoryList"];
                foreach (var category in categoryList)
                {
                    if (category.id == Model.categoryId)
                    {
                        <p>@category.name</p>
                    }
                }
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.picture)
        </dt>

        <dd>
            <img src="@Url.Content(Model.picture)" width="250" height="250" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
