﻿@model IEnumerable<Wallnut_SuperMarket.Models.Item>

@{
    ViewBag.Title = "Index";
}

<h2>All Items</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.counterId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.categoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.picture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stock)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @{
                var counterList = (List<Wallnut_SuperMarket.Models.Counter>)ViewData["counterList"];
                foreach (var counter in counterList)
                {
                    if (counter.id == item.counterId)
                    {
                        <p>@counter.counter1</p>
                    }
                }
            }
        </td>
        <td>
            @{
                var categoryList = (List<Wallnut_SuperMarket.Models.Category>)ViewData["categoryList"];
                foreach (var category in categoryList)
                {
                    if (category.id == item.categoryId)
                    {
                        <p>@category.name</p>
                    }
                }
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rating)
        </td>
        <td>
            <img src="@Url.Content(item.picture)" width="150" height="150" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stock)
        </td>
        <td>
            @Html.ActionLink("Add Stock", "AddStock", new { id = item.id }) |
            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
            @Html.ActionLink("Details", "Details", new { id = item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.id })
        </td>
    </tr>
}

</table>
