﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <title>@ViewBag.Title - FreshChoice-SuperMarket</title>

    <!-- Bootstrap CSS -->
    @Styles.Render("~/Content/css/bootstrap.min.css")
    <!-- Site CSS -->
    @Styles.Render("~/Content/css/style.css")
    <!-- Responsive CSS -->
    @Styles.Render("~/Content/css/responsive.css")
    <!-- Custom CSS -->
    @Styles.Render("~/Content/css/custom.css")
</head>
<body>
    <!-- Start Main Top -->
    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="#"><h1><b style="color: #72a624">Freshchoice</b>-<b>SuperMarket</b></h1></a>
                </div>
                <!-- End Header Navigation -->
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
					<ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
						@{
		if (Session["loggedIn"] != null)
		{
			var loggedIn = (Boolean)Session["loggedIn"];
			var user = (Wallnut_SuperMarket.Models.User)Session["User"];

			if (user.type.Equals("CUSTOMER") && loggedIn == true)
			{
					<li>@Html.ActionLink("Home", "Page", "Home")</li>
					<li>@Html.ActionLink("Past Orders", "PastOrders", "Orders")</li>
					<li>@Html.ActionLink("About", "About", "Home")</li>
					<li>@Html.ActionLink("Contact", "Contact", "Home")</li>
					<li><i class="fa fa-shopping-bag"></i>@Html.ActionLink("Cart", "ViewCart", "Carts")</li>
					<li>@Html.ActionLink("Logout", "Logout", "Home")</li>

}
else if (user.type.Equals("ADMIN") && loggedIn == true) // Admin is a sales manager and a sales manager is an admin
{
					<li>@Html.ActionLink("Home", "AdminHome", "Home")</li>
					<li>@Html.ActionLink("Users", "Index", "Users")</li>
					<li>@Html.ActionLink("Counters", "Index", "Counters")</li>
					<li>@Html.ActionLink("Categories", "Index", "Categories")</li>
					<li>@Html.ActionLink("Items", "Index", "Items")</li>
					<li>@Html.ActionLink("About", "About", "Home")</li>
					<li>@Html.ActionLink("Contact", "Contact", "Home")</li>
					<li>@Html.ActionLink("Logout", "Logout", "Home")</li>

}
else if (user.type.Equals("COUNTER_MANAGER") && loggedIn == true)
{
					<li>@Html.ActionLink("Home", "Page", "Home")</li>
					<li>@Html.ActionLink("Orders", "ReadyOrders", "Orders")</li>
					<li>@Html.ActionLink("About", "About", "Home")</li>
					<li>@Html.ActionLink("Contact", "Contact", "Home")</li>
					<li>@Html.ActionLink("Logout", "Logout", "Home")</li>
}
else if (user.type.Equals("SALES_PERSON") && loggedIn == true)
{
					<li>@Html.ActionLink("Home", "Page", "Home")</li>
					<li>@Html.ActionLink("Prepare Items", "PrepareItems", "OrderItems")</li>
					<li>@Html.ActionLink("About", "About", "Home")</li>
					<li>@Html.ActionLink("Contact", "Contact", "Home")</li>
					<li>@Html.ActionLink("Wallet", "Index", "Wallets")</li>
					<li>@Html.ActionLink("Logout", "Logout", "Home")</li>
}
else if (user.type.Equals("DELIVERY_PERSON") && loggedIn == true)
{
					<li>@Html.ActionLink("Home", "Page", "Home")</li>
					<li>@Html.ActionLink("Orders", "DeliveryOrders", "Orders")</li>
					<li>@Html.ActionLink("About", "About", "Home")</li>
					<li>@Html.ActionLink("Contact", "Contact", "Home")</li>
					<li>@Html.ActionLink("Logout", "Logout", "Home")</li>
}
else
{
					<li>@Html.ActionLink("Home", "Page", "Home")</li>
					<li>@Html.ActionLink("About", "About", "Home")</li>
					<li>@Html.ActionLink("Contact", "Contact", "Home")</li>
					<li>@Html.ActionLink("SignIn", "SignIn", "Home")</li>
					<li>@Html.ActionLink("Register", "Register", "Home")</li>
}
}
else
{
					<li>@Html.ActionLink("Home", "Page", "Home")</li>
					<li>@Html.ActionLink("About", "About", "Home")</li>
					<li>@Html.ActionLink("Contact", "Contact", "Home")</li>
					<li>@Html.ActionLink("SignIn", "SignIn", "Home")</li>
					<li>@Html.ActionLink("Register", "Register", "Home")</li>
}
						}
					</ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- Start Side Menu -->
            
            <!-- End Side Menu -->
        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Main Top -->
    





    <div class="container body-content">
        <br/>
        @RenderBody()
        <hr />
        <br/>
    </div>

    <!-- Start Footer  -->
    <footer>
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-top-box">
                            <h3>On site business Time</h3>
                            <ul class="list-time">
                                <li>Monday - Friday: 08.00am to 05.00pm</li>
                                <li>Saturday: 10.00am to 08.00pm</li>
                                <li>Sunday: 10.00am to 05.00pm</li>
                            </ul>

                            <h3 class="mt-4">Website</h3>
                            <ul class="list-time">
                                <li>24 / 7 Service</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link">
                            <h4>Information</h4>
                            <ul>
                                <li>@Html.ActionLink("Home", "Page", "Home")</li>
                                <li>@Html.ActionLink("About", "About", "Home")</li>
                                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                <li>@Html.ActionLink("SignIn", "SignIn", "Home")</li>
                                <li>@Html.ActionLink("Register", "Register", "Home")</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link-contact">
                            <h4>Contact Us</h4>
                            <ul>
                                <li>
									<p><i class="fas fa-map-marker-alt"></i>Address:12/A Ebenezer Place <br>Dehiwala<br> PC 1035. </p>
                                </li>
                                <li>
                                    <p><i class="fas fa-phone-square"></i>Phone: <a href="tel:+94769441537">+94769441537</a></p>
                                </li>
                                <li>
                                    <p><i class="fas fa-envelope"></i>Email: <a href="mailto:contactinfo@gmail.com">contactinfo@gmail.com</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer  -->
    <!-- Start copyright  -->
    <div class="footer-copyright">
        <p class="footer-company">Copyright © @DateTime.Now.Year FreshChoice-SuperMarket (Pvt) Ltd. All Rights Reserved.</p>
    </div>
    <!-- End copyright  -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    @Scripts.Render("~/Content/js/jquery-3.2.1.min.js")
    @Scripts.Render("~/Content/js/popper.min.js")
    @Scripts.Render("~/Content/js/bootstrap.min.js")
    <!-- ALL PLUGINS -->
    @Scripts.Render("~/Content/js/jquery.superslides.min.js")
    @Scripts.Render("~/Content/js/bootstrap-select.js")
    @Scripts.Render("~/Content/js/inewsticker.js")
    @Scripts.Render("~/Content/js/bootsnav.js")
    @Scripts.Render("~/Content/js/images-loded.min.js")
    @Scripts.Render("~/Content/js/isotope.min.js")
    @Scripts.Render("~/Content/js/owl.carousel.min.js")
    @Scripts.Render("~/Content/js/baguetteBox.min.js")
    @Scripts.Render("~/Content/js/form-validator.min.js")
    @Scripts.Render("~/Content/js/contact-form-script.js")
    @Scripts.Render("~/Content/js/custom.js")

    @RenderSection("scripts", required: false)
</body>
</html>
