﻿
@{
    ViewBag.Title = "DeliveryOrders";
}

<h2>DeliveryOrders</h2>

<table class="table">
    <tr>
        <th>
            Bill Id
        </th>
        <th>
            Customer Name
        </th>
        <th>
            Customer Contact
        </th>
        <th>
            Expected Time
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>
    @{ 
        List<Wallnut_SuperMarket.Models.Order> orderList = (List<Wallnut_SuperMarket.Models.Order>)ViewData["orderList"];
        List<Wallnut_SuperMarket.Models.User> userList = (List<Wallnut_SuperMarket.Models.User>)ViewData["userList"];
        
                foreach (var orderObj in orderList)
                {
                    <tr>
                        <td>@orderObj.bill</td>
                        @{
                            foreach(var user in userList)
                            {
                                if(user.id == orderObj.customerId)
                                {
                                    <td>@user.username</td>
                                    <td>@user.phone</td>
                                }
                            }

                            <td>@orderObj.date_time</td>
                            <td>@orderObj.readyStatus</td>

                            if (orderObj.readyStatus.Equals("READY"))
                            {
                                <td>@Html.ActionLink("Mark Deliver", "MarkDeliver", new { id = orderObj.id })</td>
                            }
                        }
                    </tr>
                }
    }
</table>