﻿
@{
    ViewBag.Title = "PastOrders";
}

<div class="container">
    @{
        List<Wallnut_SuperMarket.Models.Order> orderList = (List<Wallnut_SuperMarket.Models.Order>)ViewData["orderListOfCustomer"];
        List<Wallnut_SuperMarket.Models.Bill> billList = (List<Wallnut_SuperMarket.Models.Bill>)ViewData["billList"];
        List<Wallnut_SuperMarket.Models.OrderItem> orderItemList = (List<Wallnut_SuperMarket.Models.OrderItem>)ViewData["orderItemList"];
        List<Wallnut_SuperMarket.Models.Item> itemList = (List<Wallnut_SuperMarket.Models.Item>)ViewData["itemList"];
        List<Wallnut_SuperMarket.Models.Shipping> shippingList = (List<Wallnut_SuperMarket.Models.Shipping>)ViewData["shippingList"];
        List<Wallnut_SuperMarket.Models.User> userList = (List<Wallnut_SuperMarket.Models.User>)ViewData["userList"];
        List<Wallnut_SuperMarket.Models.OrderDeliveryPerson> orderDeliveryPersonList = (List<Wallnut_SuperMarket.Models.OrderDeliveryPerson>)ViewData["orderDeliveryPersonList"];
    }
    <h2 class="text-info">--- Your Order History ---</h2>
    <hr/>
    @{
        foreach (var order in orderList)
        {
            <div class="jumbotron">
                <h4>Order Id: @order.id</h4>

                <hr/>
                <h4 class="text-info"><b>Ordered Items</b></h4>
                @{
                    foreach (var orderItem in orderItemList)
                    {
                        if (order.id == orderItem.orderId)
                        {
                            float totalOnOrder = 0;
                            foreach (var item in itemList)
                            {
                                if (item.id == orderItem.itemId)
                                {
                                    <div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <h5>Name: @item.name</h5>
                                            </div>
                                            <div class="col-md-3">
                                                <img src="@Url.Content(item.picture)" height="150" width="150" />
                                            </div>
                                            <div class="col-md-3">
                                                <h5>Unit Price: @item.rating</h5>
                                            </div>
                                            <div class="col-md-3">
                                                <h5>Quantity: @orderItem.qty</h5>
                                            </div>
                                        </div>
                                    </div>
                                    totalOnOrder = (float)totalOnOrder + (float)(item.rating * orderItem.qty);
                                }
                            }
                            <h5>Total: @totalOnOrder</h5>
                            <hr/>
                        }
                    }
                }

                <br/>
                <h4 class="text-info"><b>Delivery Details</b></h4>
                @{
                    if (order.pickupStatus == "PICK_UP")
                    {
                        <h5 class="text-danger">This order is a pick up order!!!</h5>
                        <h5>Delivery Charge: 0</h5>
                    }
                    else
                    {
                        float shippingCharge = 0;
                        string address = "";
                        foreach (var shipping in shippingList)
                        {
                            if (shipping.orderId == order.id)
                            {
                                shippingCharge = (float) shipping.total;
                                address = shipping.address;
                            }
                        }
                        foreach (var bill in billList)
                        {
                            if (bill.id == order.bill)
                            {
                                foreach (var orderDeliveryPerson in orderDeliveryPersonList)
                                {
                                    if (orderDeliveryPerson.bill == bill.id)
                                    {
                                        foreach (var userObj in userList)
                                        {
                                            if (userObj.id == orderDeliveryPerson.deliveryPersonId)
                                            {
                                                <div class="row">
                                                    <div class="col-md-3"><h5>Delivery Person Name: @userObj.username</h5></div>
                                                    <div class="col-md-3"><h5>Contact: @userObj.phone</h5></div>
                                                    <div class="col-md-3"><h5>Delivery Charge: @shippingCharge</h5></div>
                                                    <div class="col-md-3"><h5>Address: @address</h5></div>
                                                </div>
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                <br/>
                <h4 class="text-info"><b>Bill Details</b></h4>
                @{
                    foreach (var bill in billList)
                    {
                        if (bill.id == order.bill)
                        {
                            <h4>Bill Id: @bill.id</h4>
                            <div class="row">
                                <div class="col-md-3"><h5>Payment: @bill.payment</h5></div>
                                <div class="col-md-3">
                                    @{
                                        if (order.readyStatus.Equals("READY"))
                                        {
                                            <h5 class="text-warning">Order Status: pending to receive.</h5>
                                        }
                                        else if (order.readyStatus.Equals("NOT_READY"))
                                        {
                                            <h5 class="text-danger">Order Status: not ready.</h5>
                                        }
                                        else
                                        {
                                            <h5 class="text-success">Order Status: @order.readyStatus.</h5>
                                        }
                                    }
                                </div>
                                <div class="col-md-3">
                                    <h5>Expected time to ready: @order.date_time</h5>
                                </div>
                                <div class="col-md-3">
                                    @{
                                        if (order.readyStatus.Equals("DELIVERED")  || order.readyStatus.Equals("ON_DELIVER") || order.readyStatus.Equals("CANCELED"))
                                        {
                                            
                                        }
                                        else
                                        {
                                            @Html.ActionLink("Cancel Order", "CancelOrder", new { id = order.id })
                                        }
                                    }
                                </div>
                            </div>
                        }
                    }
                }
            </div>
            <br/>
        }
    }
</div>