﻿
@{
    ViewBag.Title = "ReadyOrders";
}

<h2>ReadyOrders</h2>


<table class="table">
    <tr>
        <th>
            Bill Id
        </th>
        <th>
            Customer Name
        </th>
        <th>
            Customer Contact
        </th>
        <th>
            Expected Time
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>
    @{
        List<Wallnut_SuperMarket.Models.Order> deliveredOrderList = (List<Wallnut_SuperMarket.Models.Order>)ViewData["deliveredOrderList"];
        List<Wallnut_SuperMarket.Models.Order> notDeliveredOrderList = (List<Wallnut_SuperMarket.Models.Order>)ViewData["notDeliveredOrderList"];
        List<Wallnut_SuperMarket.Models.User> userList = (List<Wallnut_SuperMarket.Models.User>)ViewData["userList"];
        List<Wallnut_SuperMarket.Models.OrderItem> orderItemList = (List<Wallnut_SuperMarket.Models.OrderItem>)ViewData["orderItemList"];

        foreach (var orderObj in notDeliveredOrderList)
        {
            <tr>
                <td>@orderObj.bill</td>
                @{
                    foreach (var user in userList)
                    {
                        if (user.id == orderObj.customerId)
                        {
                            <td>@user.username</td>
                            <td>@user.phone</td>
                        }
                    }

                    <td>@orderObj.date_time</td>
                    <td>@orderObj.readyStatus</td>

                    if (orderObj.readyStatus.Equals("NOT_READY"))
                    {
                        bool state = true;
                        foreach (var orderItemObj in orderItemList)
                        {
                            if (orderItemObj.orderId == orderObj.id && orderItemObj.preparedStatus.Equals("NOT_READY"))
                            {
                                state = false;
                            }
                        }

                        if (state == true)
                        {
                            <td>@Html.ActionLink("Mark Ready", "MarkReady", new { id = orderObj.id })</td>
                        }
                        else
                        {
                            <td class="text-danger">This order has unpcked items</td>
                        }
                    }
                }
            </tr>
        }

        foreach (var orderObj in deliveredOrderList)
        {
            <tr>
                <td>@orderObj.bill</td>
                @{
                    foreach (var user in userList)
                    {
                        if (user.id == orderObj.customerId)
                        {
                            <td>@user.username</td>
                            <td>@user.phone</td>
                        }
                    }

                    <td>@orderObj.date_time</td>
                    <td>@orderObj.readyStatus</td>
                    if (orderObj.readyStatus.Equals("READY"))
                    {
                        <td>@Html.ActionLink("Mark Deliver", "MarkDeliver", new { id = orderObj.id })</td>
                    }
                }
            </tr>
        }
    }
</table>